/* css styles */

.content img {
    max-width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.content video {
    max-width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.content {
    padding-top: 0rem !important;
}

.katex-display{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

table {
    max-width: 100%;
    overflow-x: auto;
}

body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2 {
    color: #1e2124;
}

h1, .h1 {
    color: #fff;
    font-size: 300%;
}

h2, .h2 {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.description {
    font-size: 150%;
}

p a {
    color: #3B70FE !important;
    text-decoration: none;
}

p a:hover, p a:active, p a:visited {
    color: #0A047A !important;
    text-decoration: none;
}

div.sourceCode {
    background-color: rgba(247,247,249,1);
    border: 1px solid rgba(247,247,249,1);
    border-radius: 10px;
}

.cell-output > pre {
    font-weight: 600;
    background-color: rgba(247,247,249,.4);
    border: 1px solid rgba(247,247,249,.4);
    border: rgba(247,247,249,0.8);
    padding: 0.5rem;
}

.cell-output > p {
    margin-bottom: 0px;
}

code {
    padding: 0.5rem;
}

#title-block-header .display-7 {
    color: #1e2124;
    font-size: 220%;
}

.quarto-title-banner, .navbar-light, .navbar-dark {
    background: linear-gradient(90deg, rgba(254,200,16,1) 0%, rgba(255,128,237,1) 100%);
}

.quarto-post {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

div.quarto-post .thumbnail img {
    margin-top: 0px;
}

.thumbnail {
    margin: 0px;
    /* margin-top: 12px;
    margin-left: 16px; */
}

.body {
    margin: 0px;
    /* margin-left: 0px; */
}

div.quarto-post .body {
    flex-basis: 50%;
}

div.quarto-post .metadata {
    /* flex-basis: 15%; */
    /* font-size: 1em; */
    margin: 0px;
    /* display:none; */
}

.quarto-title .quarto-categories .quarto-category {
    border: solid 2px;
    opacity: 1;
}

.quarto-title-meta {
    display: none !important;
}

#title-block-header {
    margin-block-end: 0px !important;
}

main {
    margin-top: 0px !important;
}

div.quarto-post {
    gap: 1em;
    margin-bottom: 1em;
}

#Amazon {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, rgba(254, 200, 16, 1) 0%, rgba(255, 128, 237, 1) 100%);
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
#Amazon:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

#Amazon:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

div#quarto-toc-toggle {
    visibility: hidden;
}

.callout.callout-style-default {
    background-color: #fff;
}