/* css styles */

.content img {
    max-width: 100%;
    margin-bottom: 1.0rem;
}

.content video {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.content {
    padding-top: 0rem !important;
}

.katex-display{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

table {
    max-width: 100%;
    overflow-x: auto;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2 {
    color: #1e2124;
}

h1, .h1 {
    color: #fff;
    font-size: 300%;
}

h2, .h2 {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.description {
    font-size: 150%;
}

p a {
    color: #3B70FE !important;
    text-decoration: none;
}

p a:hover, p a:active, p a:visited {
    color: #0A047A !important;
    text-decoration: none;
}

div.sourceCode {
    border-radius: 10px;
}

.cell-output > pre {
    font-weight: 600;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    padding: 0.5rem;
}

.cell-output > p {
    margin-bottom: 0px;
}

.thumbnail > p {
    display: none;
}

code {
    padding: 0.5rem;
}

#title-block-header .display-7 {
    color: #1e2124;
    font-size: 220%;
}

.quarto-title-banner, .navbar-light, .navbar-dark, .navbar, #quarto-header, .fixed-top, .quarto-bannar, .headroom--top {
    background: linear-gradient(90deg, rgba(254,200,16,1) 0%, rgba(255,128,237,1) 100%);
    /* background: linear-gradient(90deg, rgba(59,112,254,1) 0%, rgba(49,195,135,1) 100%); */
}

.breadcrumb {
    display: none;
}

.quarto-post {
    background-color: rgba(255,255,255,0.8);
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

div.quarto-post .thumbnail img {
    margin-top: 0px;
}

div.quarto-post {
    margin-bottom: 0px !important;
}

.thumbnail {
    margin: 0px;
}

.body {
    margin: 0px;
}

div.quarto-post .body {
    flex-basis: 50%;
    font-size: 120%;
}

.quarto-title .quarto-categories .quarto-category {
    border: solid 2px;
    opacity: 1;
}

.quarto-title-meta {
    display: none !important;
}

div.quarto-post .metadata {
    margin-bottom: 0.5em;
    font-size: 95%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: baseline;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
}

#title-block-header {
    margin-block-end: 0px !important;
}

main {
    margin-top: 0px !important;
}

@media (max-width: 991.98px) {
    .content .quarto-banner-title-block {
        margin-top: 20px !important;
    }
    #title-block-header.quarto-title-block.default .quarto-title .title {
        font-size: 200%;
    }
    #gnn-book {
        width: 250px;
    }
    div.quarto-post .thumbnail img {
        margin-bottom: 0.4rem;
    }
}

#gnn-book {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
    /* apply shadow effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    /* apply animation */
    animation: float 3s ease-in-out infinite;
}

#desc-book {
    margin: 20px;
}

/* Define the animation */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

#Amazon {
    display: inline-block;
    padding: 25px 50px;
    margin-top: 10px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, rgba(254, 200, 16, 1) 0%, rgba(255, 128, 237, 1) 100%);
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  
#Amazon:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

#Amazon:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

div#quarto-toc-toggle {
    visibility: hidden;
}

.callout.callout-style-default {
    background-color: #fff;
}

.nav-link {
    color: #1e2124;
}

.sidebar-navigation a {
    color: #1e2124;
}

.listing-date::before {
    content: '📅';
}

.listing-reading-time::before {
    content: '🕒';
}

.listing-description {
    font-size: 90%;
}

.metadata img {
    margin: 0px;
}

.listing-colab {
    max-width: 8em;
}

.zindex-over-content {
    display: none;
}

nav.quarto-secondary-nav {
    display: none;
}

.navbar-title {
    display: none;
}

div.quarto-post .metadata {
    margin-top: 0px;
}