/*-- scss:defaults --*/
// Base document colors
// $body-bg: #181818;
$body-color: #1e2124;
$link-color: #3B70FE;
$font-size-root: 100%;

// Code blocks
// $code-block-bg-alpha: -.8;
// $code-block-bg-alpha: 0;
$code-block-bg: #1e2124;