<div class="Box box-shadow-medium rounded-1 col-12">
    {%- if post.image -%}
    <div class="col-4 d-table-cell p-3 v-align-middle">
      <a class="post-link" href="{{ post.url | relative_url }}">
        <img class="image-preview " src="{{ post.image | relative_url }}" />
      </a>
    </div>
    {%- endif -%}
    <div class="col-8 d-table-cell p-3">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p class="post-meta-description">{{ post.description }}</p>
          <p class="post-meta">
            <img src="{{ '/blog/images/icons/icon-calendar.svg' }}" class="icon-watch"> {{ post.date | date: date_format }} 
            {%- if post.colab -%}
             • <a href= {{ post.colab }}>Code in Colab</a>
            {%- endif %}
          </p>
      </div>
  </div>