// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    1000px;
$on-palm:          800px;
$on-laptop:        1000px;
$on-medium:        1000px;
$on-large:         1200px;

$dt-code-cell-background: #24292e;
$dt-gray-light: #efeeea; // Foreground
$dt-pink: #ff80ed;
$dt-orange: #FEC810;
$dt-cyan: #00D8FF;
$dt-blue: #3B70FE;
$dt-purple: #0A047A;
$dt-green-light: #31C387;